html,
body,
svg {
    margin: 0;
    height: 100%;
    width: 100%;
    }

svg {
    background-color: #fff;
    }

.link {
    stroke: #999;
    stroke-opacity: 0.75;
    }

.node {
    cursor: move;
    opacity: 0.125;
    stroke: #fff;
    stroke-width: 1.5px;
    }

.node text.inner {
    pointer-events: none;
    font: 10px sans-serif;
    fill: #000;
    stroke: #000;
    stroke-opacity: 0;
    }

.node text.outer {
    pointer-events: none;
    font: 10px sans-serif;
    stroke: #fff;
    stroke-width: 2.5px;
    stroke-opacity: 1;
    }