html,
body,
svg {
    margin: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    }

svg {
    background-color: #fff;
    z-index: -1;
    }

.link .inner {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1;
    stroke: #000;
    }

.link .outer {
    fill: none;
    stroke: #000;
    stroke-opacity: 0.02;
    stroke-width: 10;
    }

.node {
    cursor: move;
    fill-opacity: 1;
    stroke-opacity: 1;
    stroke: #fff;
    stroke-width: 1.5px;
    }

.node text.inner {
    pointer-events: none;
    font: 12px sans-serif;
    fill: #000;
    stroke: #000;
    stroke-opacity: 0;
    }

.node text.outer {
    pointer-events: none;
    font: 12px sans-serif;
    stroke: #fff;
    stroke-width: 2.5px;
    stroke-opacity: 1;
    }

.node .halo {
    pointer-events: none;
    fill: #000;
    fill-opacity: 0;
    stroke: #000;
    stroke-opacity: 0;
    stroke-width: 2;
    stroke-dasharray: 0, 0;
    }