{% if not is_a_return_visitor %}
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p><strong>Hey friends!</strong> Thanks for all of the attention!</p>
    <p>Something not working? Send me a <a href="https://github.com/josiah-wolf-oberholtzer/discograph/issues" target="_blank">bug report</a>.
    Artist information seems incorrect? Fix it on <a href="http://discogs.com" target="_blank">Discogs.com</a>.</p>
    <p>Meanwhile, <a href="https://soundcloud.com/josiah-wolf-oberholtzer/rockers-v4-2014?in=josiah-wolf-oberholtzer/sets/bedroom-rockers" target="_blank">thank you!</a> -josiah</p>
</div> 
{% endif %}
