<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ title }}</title>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/typeahead-bootstrap.css">
    <link rel="stylesheet" href="/static/css/discograph.css"/>
    <meta property="og:description" content=" Discograph provides an
    interactive visualization of the relationships between nearly 5 million
    artists, bands and labels using information derived from the Discogs
    database."/>
    <meta property="og:title" content="{{ og_title }}"/>
    <meta property="og:site_name" content="Discograph"/>
    <meta property="og:url" content="{{ application_url }}{{ og_url }}"/>
    <meta property="og:image" content="{{ application_url }}/static/img/og_image.png"/>
    <script>
    if (!String.prototype.format) {
        String.prototype.format = function() {
            var args = arguments;
            return this.replace(/{(\d+)}/g, function(match, number) { 
            return typeof args[number] != 'undefined'
                ? args[number]
                : match
            ;
            });
        };
    }
    </script>
</head>

<body id="{{ key }}">

{% include "nav-top.html" %}

{% include "modal-what.html" %}

{% include "modal-who.html" %}

{% include "modal-welcome.html" %}

{% include "nav-bottom.html" %}

<script src="/static/js/dg/dg.js"></script>
<script src="/static/js/dg/dg.color.js"></script>
<script src="/static/js/dg/dg.graph.js"></script>
<script src="/static/js/dg/dg.history.js"></script>
<script src="/static/js/dg/dg.typeahead.js"></script>

<script>
$(document).ready(function() {
    dg.init();
    $('[data-toggle="tooltip"]').tooltip()
});
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-4612344-4', 'auto');
  ga('require', 'linkid');
  ga('send', 'pageview');
</script>

</body>
</html>