<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/typeahead-bootstrap.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="/static/typeahead.bundle.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/discograph.css"/>
</head>

<body id="{{ key }}">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" 
                    data-toggle="collapse" 
                    data-target="#bs-example-navbar-collapse-1" 
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="brand" href="/random" type="button" class="btn btn-default navbar-btn">
                    discoGraph
                    <span class="loading glyphicon glyphicon-refresh glyphicon-refresh-animate hidden"></span>
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <form id="search" class="navbar-form navbar-right" role="search" method="get">
                    <div class="form-group has-feedback">
                        <input id="typeahead" type="text" class="form-control" placeholder="Search">
                        <span class="loading glyphicon glyphicon-refresh form-control-feedback glyphicon-refresh-animate invisible"></span> 
                    </div>
                </form>
            </div>
        </div>
    </nav>

<script src="/static/discograph.js"></script>
<script src="/static/discograph.typeahead.js"></script>

<script>
$(document).ready(function() {
    dg.init();
    if (d3.select("body").attr("id").length) {
        dg.navigateGraph(d3.select("body").attr("id"));
    }
});
</script>


</body>
</html>