<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/discograph.css"/>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/typeahead-bootstrap.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="/static/typeahead.bundle.js"></script>
    <title>{{ title }}</title>
</head>

<body id="{{ artist.discogs_id }}">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" 
                    data-toggle="collapse" 
                    data-target="#bs-example-navbar-collapse-1" 
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/random/">discoGraph</a>
            </div>
            <div class="collapse navbar-collapse">
                <form id="search" class="navbar-form navbar-right" role="search" method="get">
                    <div class="form-group">
                        <input id="input" type="text" class="form-control" placeholder="Search">
                    </div>
                </form>
            </div>
        </div>
    </nav>

<script src="/static/discograph.js"></script>
<script>
var results = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    remote: {
        url: "/api/search/%QUERY",
        wildcard: "%QUERY",
        filter: function(response) {
            return response.results;
        },
    },
});

$('#input').typeahead(
    {
        hint: true, 
        highlight: true,
        minLength: 1,
    }, {
        name: "results",
        display: "name",
        source: results,
        limit: 20,
    }
);

$("#input").bind("typeahead:render", function(event, suggestion, async, name) {
    if (suggestion !== undefined) {
        $(this).data("selectedID", suggestion._id);
    } else {
        $(this).data("selectedID", null);
    }
});

$("#input").bind("typeahead:select", function(obj, datum) {
    $(this).data("selectedID", datum._id);
});

$("#input").bind("typeahead:autocomplete", function(obj, datum) {
    $(this).data("selectedID", datum._id);
})

$("#input").keydown(function(event){
    if (event.keyCode == 13) {
        event.preventDefault();
        var datum = $(this).data("selectedID");
        if ((datum !== undefined) && (datum !== null) && (0 < datum)) {
            dg.navigateGraph(datum);
            $("#input").typeahead("close");
            $("#input").blur();
        };
    } else if (event.keyCode == 27) {
        $("#input").typeahead("close");
    }
});

</script>

</body>
</html>