<div id="modal-what" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">What is this?</h4>
            </div>
            <div class="modal-body">

                <p><strong>Discograph</strong> is an interactive
                visualization of the relationships between musicians, bands
                and labels.</p>
                    
                <p>All of <strong>Discograph</strong>'s data is derived
                from the <a href="http://discogs.com">Discogs</a>
                discography database: nearly 4 million artists, 1 million
                labels, and 7 million releases creating a network of nearly
                70 million different relationships.</p>

                <p>What do all of these symbols mean?</p>

                <ul>
                    <li>Small circles represent artists.</li>
                    <li>Large circles represent bands.</li>
                    <li>Solid lines show band membership.</li>
                    <li>Dotted lines show pseudonyms.</li>
                </ul>

                <p>The graph only shows 100 entities at a time, so
                double-click on any circle containing a plus-sign to reveal
                more connections.</p>

            </div>
        </div>
    </div>
</div>
