{% if not is_a_return_visitor %}
<div id="modal-welcome" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3>Hello, friends and lovers!</h3>
            </div>
            <div class="modal-body">
                <p>Welcome to <strong>Disco/graph</strong>, an interactive
                visualization of relationships between artists, bands and
                labels, based on data from the <a
                href="http://discogs.com">Discogs.com</a> database.</p>
                <p>Use the search box in the right corner to look for a
                recording musician or click on the
                <strong>Disco/graph</strong> link in the left corner to find
                a random artist.</p>
                <p>When the graph appears, you can click and drag the nodes
                around. Double-click on any node with a plus-sign to reveal
                more connections.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Let's Go!</button>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#modal-welcome').modal('show');
});
</script>
{% endif %}