<nav id="nav-bottom" class="navbar navbar-default navbar-fixed-bottom"> 
    <div class="container-fluid">
        <div class="navbar-header"> 
            <button type="button" class="navbar-toggle collapsed" 
                data-toggle="collapse" data-target="#nav-bottom-details">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="entity-link" class="truncate navbar-brand hidden" href="#" target="_blank">
                <span class="glyphicon glyphicon-new-window"></span>
                <span id="entity-name">Band Name</span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="nav-bottom-details">
            <form id="filter" class="navbar-form navbar-right" action="#">
                <div class="btn-group dropup">
                    <select id="filter-roles" multiple="multiple" name="roles" class="form-control">
                    {% for category, roles in multiselect_mapping.items() %}
                        <optgroup label="{{ category }}">
                        {% for role in roles %}
                            <option value="{{ role }}">{{ role }}</option>
                        {% endfor %}
                        </optgroup>
                    {% endfor %}
                    </select>
                    <button id="filter-reset" type="reset" class="btn btn-default">Reset</button>
                </div>
                <button type="submit" class="submit btn btn-default">Filter</button>
            </form>
        </div>
    </div>
</nav>

<script>
$(document).ready(function() {
    $('#filter-roles').multiselect({
        buttonWidth: "160px",
        enableFiltering: true,
        enableCaseInsensitiveFiltering: true,
        includeSelectAllOption: true,
        inheritClass: true,
        enableClickableOptGroups: true,
        maxHeight: 400,
        nonSelectedText: 'Select relationships'
    });
    $('#filter').on('reset', function(event) {
        $('#filter-roles option:selected').each(function() {
            $(this).prop('selected', false);
        });
        $('#filter-roles').multiselect('refresh');
        event.preventDefault();
    });
});
</script>