<nav id="nav-bottom" class="navbar navbar-default navbar-fixed-bottom"> 
    <div class="container-fluid">
        <div class="navbar-header"> 
            <!--
            <a id="settings" class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            -->
                <a id="entity-link" class="truncate navbar-brand hidden" href="#" target="_blank">
                    <span class="glyphicon glyphicon-new-window"></span>
                    <span id="entity-name">Band Name</span>
                </a>
        </div>
    </div>
</nav>