<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Disco/graph: Stand By</title>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <style>
        html,
        body,
        #svg {
            margin: 0;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            position: fixed;
            z-index: -1;
            }

        body {
            padding-top: 70px;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1>
                <strong>STAND BY</strong>
            </h1>
            <p><em>We'll be right back.</em></p>
            <p>DISCO/GRAPH is about to get some new features.</p>
            <p>Check <a href="https://twitter.com/nphthlm">@nphthlm</a> for status info.</p>
        </div>
    </div>
</div>

</body>
</html>