<div id="paging" class="container" style="display: none;">
    <nav>
        <ul class="pager">
            <li class="previous">
                <a href="#" class="box-shadow" data-toggle="tooltip"
                    data-placement="bottom" title="show more entities">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="previous-text"></span>
                </a>
            </li>
            <li class="next">
                <a href="#" class="box-shadow" data-toggle="tooltip"
                    data-placement="bottom" title="show more entities">
                    <span class="next-text"></span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </li>
        </ul>
    </nav>
</div>