html,
body,
#svg {
    margin: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    }

body {
    padding-top: 70px;
}

#svg {
    background-color: #fff;
    pointer-events: visible;
    }

a {
    &:hover {
        color: #cc8548;
        }
    .input-group-addon {
        color: #337ab7;
        &:active {
            background-color: #ccc;
            }
        }
    }

#paging {
    pointer-events: none;
    a {
        pointer-events: visible;
        }
    }

.navbar-collapse.in {
    overflow-y: visible;
    }

#brand,
form .clear,
.navbar-nav a {
    cursor: pointer;
    }

/* NETWORK */

#networkLayer {
    .link {
        opacity: 0.25;
        path {
            &.inner {
                fill: none;
                marker-end: url(#arrowhead);
                stroke-dasharray: 0.5, 4;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-width: 1;
                stroke: #000;
                }
            &.outer {
                fill: none;
                stroke-opacity: 0;
                stroke: #000;
                stroke-width: 10;
                }
            }
        text {
            pointer-events: none;
            dominant-baseline: middle;
            text-anchor: middle;
            font: 8px sans-serif;
            &.inner {
                fill: #000;
                stroke: none;
                }
            &.outer {
                stroke: #fff;
                stroke-width: 3px;
                fill: none;
                }
            }
        &.alias path.inner {
            marker-end: none;
            stroke-dasharray: 2, 4;
            }
        &.member-of path.inner,
        &.sublabel-of path.inner {
            marker-end: url(#aggregate);
            stroke-dasharray: 0, 0;
            }
        &.released-on path.inner {
            marker-end: url(#arrowhead);
            stroke-dasharray: 0, 0;
            }
        &.selected {
            opacity: 1;
            text {
                font-size: 10px;
                }
            }
        }

    .hull {
        path {
            fill: #000;
            opacity: 0.05;
            stroke: #000;
            stroke-width: 32;
            stroke-linecap: round;
            stroke-linejoin: round;
            }
        }

    .node {
        cursor: move;
        fill-opacity: 1;
        stroke-opacity: 1;
        stroke: #fff;
        stroke-width: 1.5px;
        circle.shadow {
            fill: url(#radial-gradient);
            stroke: none;
            }
        text {
            &.inner {
                pointer-events: none;
                font: 10px sans-serif;
                fill: #000;
                stroke: none;
                }
            &.outer {
                pointer-events: none;
                font: 10px sans-serif;
                stroke: #fff;
                stroke-width: 3px;
                fill: none;
                }
            &.icon {
                cursor: pointer;
                fill: #fff;
                font-family: 'Glyphicons Halflings';
                font-style: normal;
                font-weight: 200;
                font-size: 20px;
                opacity: 0.5;
                stroke: #000;
                }
            }
        .halo {
            pointer-events: none;
            fill: #000;
            opacity: 0;
            stroke: none;
            }
        .more {
            stroke-width: 0;
            fill-opacity: 1;
            fill: #fff;
            }
        &.selected {
            stroke: #000;
            .halo {
                opacity: 0.1;
                }
            .more {
                fill: #000;
                }
            &.label {
                stroke: #fff;
                .more {
                    fill: #fff;
                    }
                }
            }
        }
    }

/* TIMELINE */

#loadingLayer {
    path {
        &.arc {
            opacity: 0.75;
            stroke: #fff;
            stroke-width: 1px;
            &:hover {
                fill: #f00;
                }
            }
        }
    } 

/* MIXINS */

.invisible {
    visibility: hidden;
    }

.glyphicon-animate {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    }

@-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(359deg); }
    }

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(359deg); }
    }
    
@-o-keyframes spin {
    0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(359deg); }
    }

@keyframes spin {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(359deg); transform: rotate(359deg); }
    }

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }

.box-shadow {
    box-shadow: 0px 0px 10px #ddd;
    }